<div class="showroom-controls">
  <div class="links link-heading">Contact Us</div>
</div>

<section id="contact-description">
	<div class="container content">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<p class="justify">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut purus at neque bibendum ornare. Quisque placerat consectetur fringilla. Quisque quis urna nunc. Duis lacinia ultricies felis, quis adipiscing magna gravida vitae. Sed non pellentesque mi. Phasellus convallis in metus ut egestas. Nam vehicula ligula luctus erat suscipit commodo. Aliquam consectetur cursus nisi eu imperdiet. Proin ultrices enim vel lorem pretium tempor. Proin at imperdiet ligula.
				</p>
			</div>
		</div>
	</div>
</section>


<section id="contact-info">
	<div class="row">	
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default contact-panel">
			  <div class="panel-body">
			    
			  	<div class="col-sm-6">
			  		<h1 class="bold small-caps">Connect With Us</h1>
			  		<p class="padding-l20 justify">
			  			Got a question, comment or concern to share with  West Bay Clinical Research? Send it via the form below.
			  		</p>
			  		<script charset="utf-8" src="//js.hsforms.net/forms/current.js">
			  		</script>
						<script>
						  hbspt.forms.create({ 
						    portalId: '329670',
						    formId: '67ba38c5-3af4-46e1-88f2-9a9dc2df7231',
						    redirectUrl: '<%= thank_you_url("contact") %>'
						  });
						</script>
					</div>

			  	<div class="col-sm-5 col-sm-offset-1">
			  	
			  		<h1 class="bold small-caps">Where To Find Us</h1>
	      		<p class="justify">
	            Ada banyak versi dari mukasurat-mukasurat Lorem Ipsum yang sedia ada, tetapi kebanyakkannya telah diubahsuai, lawak jenaka diselitkan, atau yat ayat yang di sertakan secara rambang yang lansung tidak munasabah. Jika anda ingin.
						</p>

						<div class="row">
							
							<div class="col-sm-6">

								<div class="info-block">
		              <i class="glyphicons home"><i></i></i>
		              <div class="info">
		                <h5 class="contact-margin">
		                	Address:
		                </h5>
		                <address>
		                	West Bay Clinical Research	<br>
											845 Oaklawn Avenue					<br>
											Suite 202										<br>
											Cranston RI 02920						<br>
		                </address>
		              </div>                 
		          	</div>
							</div>

							<div class="col-sm-6">
								<div class="info-block">
		              <i class="glyphicons headset"><i></i></i>
		              <div class="info">
		                <h5 class="contact-margin">
		                	Contact Us:
		                </h5>
		                <address id="telephone">
		                	Phone:
		                	(401) 691-3311 <br>
											Fax:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											(401) 649-4982 <br>
		                </address>
		              </div>                 
		          	</div>
							</div>
						</div>

          	<div class="info-block">
              <i class="glyphicons e-mail"><i></i></i>
              <div class="info">

                <h5 class="contact-margin">
                	Inquiries:
                </h5>

                <p>
	              	<span class="underline">General</span>
	              	<br>
									<a href="mailto:info@westbayclinicalresearch.com?Subject=General%20Inquiry" target="_blank">
										info@westbayclinicalresearch.com
									</a>
 								</p>

								<p>
									<span class="underline">Sponsorship</span>
									<br>
									<a href="mailto:sponsor@westbayclinicalresearch.com?Subject=Inquiry%20Regarding%20Trial%20Sponsorship" target="_blank">
										sponsor@westbayclinicalresearch.com
									</a>
								</p>
								
								<p>
									<span class="underline">Trial Participation</span>
									<br>
									<a href="mailto:volunteer@westbayclinicalresearch.com?Subject=Inquiry%20Regarding%20Trial%20Participation" target="_blank">
										volunteer@westbayclinicalresearch.com
									</a>
								</p>
                
              </div>                 
          	</div>

			  	</div>

			  </div>

			  <div class="panel-footer center">
			  	<iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x89e4494b5b8dcb61%3A0x54d14131ac9bff23!2s845+Oaklawn+Ave%2C+Cranston%2C+RI+02920!5e0!3m2!1sen!2sus!4v1389068444766" width="700" height="450" frameborder="0" style="border:0"></iframe>
			  </div>
			</div>
		</div>
	</div>
</section>