<div class="showroom-controls">
  <div class="links link-heading">Contact Us</div>
</div>

<section>
	<div class="row row-padding">
		<div class="col-sm-1">
		</div>
		
		<div class="col-sm-10">
			<p class="justify">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut purus at neque bibendum ornare. Quisque placerat consectetur fringilla. Quisque quis urna nunc. Duis lacinia ultricies felis, quis adipiscing magna gravida vitae. Sed non pellentesque mi. Phasellus convallis in metus ut egestas. Nam vehicula ligula luctus erat suscipit commodo. Aliquam consectetur cursus nisi eu imperdiet. Proin ultrices enim vel lorem pretium tempor. Proin at imperdiet ligula.
			</p>
		</div>

		<div class="col-sm-1">
		</div>
	</div>
</section>


<section>
	<div class="row">
		<div class="col-sm-1">
		</div>
		
		<div class="col-sm-10">
			<div class="panel panel-default">
			  <div class="panel-body">
			    
			  	<div class="col-sm-6">
			  		<h1 class="bold small-caps">Connect With Us</h1>
			  		<p class="padding-l20 justify">
			  			Got a question, comment or concern to share with West Bay Clinical Research? Send it via the form below.
			  		</p>
			  		<script charset="utf-8" src="//js.hsforms.net/forms/current.js"></script>
						<script>
						  hbspt.forms.create({ 
						    portalId: '329670',
						    formId: '67ba38c5-3af4-46e1-88f2-9a9dc2df7231'
						  });
						</script>
					</div>

			  	<div class="col-sm-6">
			  	
			  		<h1 class="bold small-caps">Where To Find Us</h1>
	      		<p class="justify">
	            Ada banyak versi dari mukasurat-mukasurat Lorem Ipsum yang sedia ada, tetapi kebanyakkannya telah diubahsuai, lawak jenaka diselitkan, atau yat ayat yang di sertakan secara rambang yang lansung tidak munasabah. Jika anda ingin.
						</p>

						<div class="info-block">
              <i class="glyphicons home"><i></i></i>
              <div class="info">
                <h5>Address:</h5>
                <address>
                	<p>West Bay Clinical Research</p>
									<p>845 Oaklawn Avenue</p>
									<p>Suite 202</p>
									<p>Cranston RI 02920</p>
                </address>
              </div>                 
          	</div>

	          <div class="info-block">
	            <i class="glyphicons headset"><i></i></i>
	            <div class="info">
                <h5>Contact Us</h5>
                <p>Phone: (401) 691-3311</p>
                <p>Fax: (401) 649-4982</p>
	            </div>                 
	          </div>

	          <div class="info-block">
              <i class="glyphicons e-mail"><i></i></i>
              <div class="info">
              	<h5>Inquiries</h5>
              	<p>
	              	General
	              	info@westbayclinicalresearch.com
 								</p>

								<p>
									Sponsorship
									sponsor@westbayclinicalresearch.com
								</p>
								
								<p>
									Trial Participation
									participant@westbayclinicalresearch.com
								</p>
              </div>             
	          </div>

			  	</div>
			  </div>

			  <div class="panel-footer center">
			  	<iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x89e4494b5b8dcb61%3A0x54d14131ac9bff23!2s845+Oaklawn+Ave%2C+Cranston%2C+RI+02920!5e0!3m2!1sen!2sus!4v1389068444766" width="700" height="450" frameborder="0" style="border:0"></iframe>
			  </div>
			</div>
		</div>

		<div class="col-sm-1">
		</div>
	</div>
</section>