<div class="showroom-controls">
  <div class="links link-heading">Frequently Asked Questions</div>
</div>

<section id="faq" class="faq">
  <div class="col-sm-8"> 
    <div class="question">
      <a href="#answer1" class="faq-toggle" data-toggle="collapse">
        Suscipit repellendus velit rem libero dicta sint rerum id quasi?
      </a>

      <div id="answer1" class="collapse">
        <div class="answer justify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nobis, dignissimos, voluptatibus veritatis aliquid magni labore tempora fugit rerum eaque deserunt odio voluptatum recusandae assumenda beatae veniam maxime eveniet iste!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repellendus velit rem libero dicta sint rerum id quasi! Fugit, dolorum eligendi alias veniam praesentium at rerum aut sapiente in cumque.
        </div>
      </div>
    </div>

    <div class="question">
      <a href="#answer2" class="faq-toggle" data-toggle="collapse">
        Suscipit repellendus velit rem libero dicta sint rerum id quasi?
      </a>

      <div id="answer2" class="collapse">
        <div class="answer justify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nobis, dignissimos, voluptatibus veritatis aliquid magni labore tempora fugit rerum eaque deserunt odio voluptatum recusandae assumenda beatae veniam maxime eveniet iste!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repellendus velit rem libero dicta sint rerum id quasi! Fugit, dolorum eligendi alias veniam praesentium at rerum aut sapiente in cumque.
        </div>
      </div>
    </div>

    <div class="question">
      <a href="#answer3" class="faq-toggle" data-toggle="collapse">
        Suscipit repellendus velit rem libero dicta sint rerum id quasi?
      </a>

      <div id="answer3" class="collapse">
        <div class="answer justify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nobis, dignissimos, voluptatibus veritatis aliquid magni labore tempora fugit rerum eaque deserunt odio voluptatum recusandae assumenda beatae veniam maxime eveniet iste!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repellendus velit rem libero dicta sint rerum id quasi! Fugit, dolorum eligendi alias veniam praesentium at rerum aut sapiente in cumque.
        </div>
      </div>
    </div>

    <div class="question">
      <a href="#answer4" class="faq-toggle" data-toggle="collapse">
        Suscipit repellendus velit rem libero dicta sint rerum id quasi?
      </a>

      <div id="answer4" class="collapse">
        <div class="answer justify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nobis, dignissimos, voluptatibus veritatis aliquid magni labore tempora fugit rerum eaque deserunt odio voluptatum recusandae assumenda beatae veniam maxime eveniet iste!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repellendus velit rem libero dicta sint rerum id quasi! Fugit, dolorum eligendi alias veniam praesentium at rerum aut sapiente in cumque.
        </div>
      </div>
    </div>

    <div class="question">
      <a href="#answer5" class="faq-toggle" data-toggle="collapse">
        Suscipit repellendus velit rem libero dicta sint rerum id quasi?
      </a>

      <div id="answer5" class="collapse">
        <div class="answer justify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nobis, dignissimos, voluptatibus veritatis aliquid magni labore tempora fugit rerum eaque deserunt odio voluptatum recusandae assumenda beatae veniam maxime eveniet iste!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repellendus velit rem libero dicta sint rerum id quasi! Fugit, dolorum eligendi alias veniam praesentium at rerum aut sapiente in cumque.
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="row">
      
      <div class="col-sm-6">

        <div class="info-block">
          <i class="glyphicons home"><i></i></i>
          <div class="info">
            <h5 class="contact-margin">
              Address:
            </h5>
            <address>
              West Bay Clinical Research  <br>
              845 Oaklawn Avenue          <br>
              Suite 202                   <br>
              Cranston RI 02920           <br>
            </address>
          </div>                 
        </div>
      </div>

      <div class="col-sm-6">
        <div class="info-block">
          <i class="glyphicons headset"><i></i></i>
          <div class="info">
            <h5 class="contact-margin">
              Contact Us:
            </h5>
            <address id="telephone">
              Phone:
              (401) 691-3311 <br>
              Fax:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              (401) 649-4982 <br>
            </address>
          </div>                 
        </div>
      </div>
    </div>

    <div class="info-block">
      <i class="glyphicons e-mail"><i></i></i>
      <div class="info">

        <h5 class="contact-margin">
          Inquiries:
        </h5>

        <p>
          <span class="underline">General</span>
          <br>
          <a href="mailto:info@westbayclinicalresearch.com?Subject=General%20Inquiry" target="_blank">
            info@westbayclinicalresearch.com
          </a>
        </p>

        <p>
          <span class="underline">Sponsorship</span>
          <br>
          <a href="mailto:sponsor@westbayclinicalresearch.com?Subject=Inquiry%20Regarding%20Trial%20Sponsorship" target="_blank">
            sponsor@westbayclinicalresearch.com
          </a>
        </p>
        
        <p>
          <span class="underline">Trial Participation</span>
          <br>
          <a href="mailto:participant@westbayclinicalresearch.com?Subject=Inquiry%20Regarding%20Trial%20Participation" target="_blank">
            participant@westbayclinicalresearch.com
          </a>
        </p>
        
      </div>                 
    </div>
  </div>

</section>