<div class="showroom-controls">
  <div class="links link-heading">Frequently Asked Questions</div>
</div>

<section id="faq" class="col-sm-8 faq">
  <div class="question">
    <a href="#answer1" class="faq-toggle" data-toggle="collapse">
      Suscipit repellendus velit rem libero dicta sint rerum id quasi?
    </a>

    <div id="answer1" class="collapse">
      <div class="answer justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nobis, dignissimos, voluptatibus veritatis aliquid magni labore tempora fugit rerum eaque deserunt odio voluptatum recusandae assumenda beatae veniam maxime eveniet iste!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repellendus velit rem libero dicta sint rerum id quasi! Fugit, dolorum eligendi alias veniam praesentium at rerum aut sapiente in cumque.
      </div>
    </div>
  </div>

  <div class="question">
    <a href="#answer2" class="faq-toggle" data-toggle="collapse">
      Suscipit repellendus velit rem libero dicta sint rerum id quasi?
    </a>

    <div id="answer2" class="collapse">
      <div class="answer justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nobis, dignissimos, voluptatibus veritatis aliquid magni labore tempora fugit rerum eaque deserunt odio voluptatum recusandae assumenda beatae veniam maxime eveniet iste!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repellendus velit rem libero dicta sint rerum id quasi! Fugit, dolorum eligendi alias veniam praesentium at rerum aut sapiente in cumque.
      </div>
    </div>
  </div>

  <div class="question">
    <a href="#answer3" class="faq-toggle" data-toggle="collapse">
      Suscipit repellendus velit rem libero dicta sint rerum id quasi?
    </a>

    <div id="answer3" class="collapse">
      <div class="answer justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nobis, dignissimos, voluptatibus veritatis aliquid magni labore tempora fugit rerum eaque deserunt odio voluptatum recusandae assumenda beatae veniam maxime eveniet iste!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repellendus velit rem libero dicta sint rerum id quasi! Fugit, dolorum eligendi alias veniam praesentium at rerum aut sapiente in cumque.
      </div>
    </div>
  </div>

  <div class="question">
    <a href="#answer4" class="faq-toggle" data-toggle="collapse">
      Suscipit repellendus velit rem libero dicta sint rerum id quasi?
    </a>

    <div id="answer4" class="collapse">
      <div class="answer justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nobis, dignissimos, voluptatibus veritatis aliquid magni labore tempora fugit rerum eaque deserunt odio voluptatum recusandae assumenda beatae veniam maxime eveniet iste!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repellendus velit rem libero dicta sint rerum id quasi! Fugit, dolorum eligendi alias veniam praesentium at rerum aut sapiente in cumque.
      </div>
    </div>
  </div>

  <div class="question">
    <a href="#answer5" class="faq-toggle" data-toggle="collapse">
      Suscipit repellendus velit rem libero dicta sint rerum id quasi?
    </a>

    <div id="answer5" class="collapse">
      <div class="answer justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nobis, dignissimos, voluptatibus veritatis aliquid magni labore tempora fugit rerum eaque deserunt odio voluptatum recusandae assumenda beatae veniam maxime eveniet iste!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repellendus velit rem libero dicta sint rerum id quasi! Fugit, dolorum eligendi alias veniam praesentium at rerum aut sapiente in cumque.
      </div>
    </div>
  </div>

</section>