<div class="showroom-controls">
  <div class="links link-heading">Frequently Asked Questions</div>
</div>

<section id="faq" class="faq">
  <div class="col-sm-8"> 
    <div class="question">
      <a href="#answer1" class="faq-toggle" data-toggle="collapse">
        What are Clinical Trials?
      </a>

      <div id="answer1" class="collapse">
        <div class="answer justify">
          Clinical trials are research studies involving human volunteers. They answer specific health questions that are conducted in a safe way in order to find treatments that work and ways to improve health. 
        </div>
      </div>
    </div>

    <div class="question">
      <a href="#answer2" class="faq-toggle" data-toggle="collapse">
        Why are Clinical Trials conducted?
      </a>

      <div id="answer2" class="collapse">
        <div class="answer justify">
          Clinical trials are conducted to see if a new drug or device is safe and effective for people to use. Clinical trials also compare existing treatments to determine if the new one is better. Clinical trials are also conducted to study different ways to use approved treatments, so they will be more effective, easier to use, and / or decrease side effects. 
        </div>
      </div>
    </div>

    <div class="question">
      <a href="#answer3" class="faq-toggle" data-toggle="collapse">
        How are volunteers protected?
      </a>

      <div id="answer3" class="collapse">
        <div class="answer justify">
          Different US Federal Agencies including the Food and Drug Administration (FDA) and the National Institutes of Health (NIH) oversee much of the medical research in the U.S. Institutional Review Boards (IRB) oversee the centers where clinical research studies are conducted. IRBs review and approve study protocols to ensure that a clinical trial is ethical and that volunteers' rights are protected.  Federal agencies inspect individuals and institutions conducting the trial as well as the IRBs.
        </div>
      </div>
    </div>

    <div class="question">
      <a href="#answer4" class="faq-toggle" data-toggle="collapse">
        What are some possible benefits of my participation?
      </a>

      <div id="answer4" class="collapse">
        <div class="answer justify">
          There are several benefits of participating in clinical trials. By participating in a clinical trial, you potentially gain access to new research treatments, receive expert medical care for the condition being studied, and help others by contributing to medical research and treatment advances. 
        </div>
      </div>
    </div>

    <div class="question">
      <a href="#answer5" class="faq-toggle" data-toggle="collapse">
        What are some of the possible risks of my participation?
      </a>

      <div id="answer5" class="collapse">
        <div class="answer justify">
          The treatment may not be effective in the clinical trial. Unpleasant, serious, or even life threatening side effects as a result of participating in a clinical trial participation may occur.
        </div>
      </div>
    </div>

    <div class="question">
      <a href="#answer6" class="faq-toggle" data-toggle="collapse">
        Who can participate in Clinical Trials?
      </a>

      <div id="answer6" class="collapse">
        <div class="answer justify">
          All clinical trials have guidelines about who can participate. The factors that allow someone to participate are called Inclusion Criteria and those that disallow someone from participating are called Exclusion Criteria. Using Inclusion and Exclusion criteria of who can participate in a clinical trial is an important principle of medical research which helps to produce reliable results. These criteria are based on such factors as age, gender, the type and stage of disease, previous treatment history, and other medical conditions. Before joining a clinical trial, a participate must qualify for the trial. Some research studies seek participants with certain illnesses or conditions to be studied in the clinical trial, while other trials need healthy participants.
        </div>
      </div>
    </div>

    <div class="question">
      <a href="#answer7" class="faq-toggle" data-toggle="collapse">
        Who sponsors Clinical Trials?
      </a>

      <div id="answer7" class="collapse">
        <div class="answer justify">
          Clinical trials are sponsored or funded by a variety of organizations or individuals such as physicians, medical institutions, foundations, voluntary groups, and pharmaceutical companies.   Federal agencies such as the National Institutes of Health (NIH), the Department of Defense (DoD), and the Department of Veterans Affairs (VA) also sponsor clinical trials.  
        </div>
      </div>
    </div>

    <div class="question">
      <a href="#answer8" class="faq-toggle" data-toggle="collapse">
        What is Informed Consent?
      </a>

      <div id="answer8" class="collapse">
        <div class="answer justify">
          Informed consent is the process of learning the key facts about a clinical trial before deciding whether or not to participate. It is also a continuing process throughout the study to provide information for participants. The informed consent document includes details about the study, such as its purpose, duration, required procedures, key contacts, risks and potential benefits. Informed consent is not a contract and the participant may withdraw from the trial at any time.
        </div>
      </div>
    </div>

    <div class="question">
      <a href="#answer9" class="faq-toggle" data-toggle="collapse">
        What is a Placebo?
      </a>

      <div id="answer9" class="collapse">
        <div class="answer justify">
          A placebo is an inactive pill, liquid, or powder that has no treatment value.  Placebo is often compared with experimental treatments to assess the experimental treatment and its effectiveness.
        </div>
      </div>
    </div>

    <div class="question">
      <a href="#answer10" class="faq-toggle" data-toggle="collapse">
        What is a Protocol?
      </a>

      <div id="answer10" class="collapse">
        <div class="answer justify">
          A protocol is a study plan on which all clinical trials are based. The plan is carefully designed to safeguard the health of the participants as well as answer specific research questions. A protocol describes what types of people may participate in the trial, the schedule of tests, procedures, medications and dosages, and the length of the trial.
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-3 col-sm-offset-1">
    <div class="row">
      <div class="info-block">
          <i class="glyphicons home"><i></i></i>
          <div class="info">
            <h5 class="contact-margin">
              Address:
            </h5>
            <address>
              West Bay Clinical Research  <br>
              845 Oaklawn Avenue          <br>
              Suite 202                   <br>
              Cranston RI 02920           <br>
            </address>
          </div>                 
      </div>
    </div>
      
    <div class="row">
      <div class="info-block">
          <i class="glyphicons headset"><i></i></i>
          <div class="info">
            <h5 class="contact-margin">
              Contact Us:
            </h5>
            <address id="telephone">
              <span>Phone:</span>
              <br>
              <a class="contact-phone padding-l20" href="tel:+14016913311">
                (401) 691-3311
              </a>
              <br>
              
              <span>Fax:</span>
              <br>
              <span class="padding-l20">
                (401) 649-4982
              </span>
              <br>
            </address>
          </div>                 
      </div>
    </div>

    <div class="row">
      <div class="info-block">
      <i class="glyphicons e-mail"><i></i></i>
      <div class="info">

        <h5 class="contact-margin">
          Inquiries:
        </h5>

        <p>
          <span class="underline">General</span>
          <br>
          <a href="mailto:info@westbayclinicalresearch.com?Subject=General%20Inquiry" target="_blank">
            info@westbayclinicalresearch.com
          </a>
        </p>

        <p>
          <span class="underline">Sponsorship</span>
          <br>
          <a href="mailto:sponsor@westbayclinicalresearch.com?Subject=Inquiry%20Regarding%20Trial%20Sponsorship" target="_blank">
            sponsor@westbayclinicalresearch.com
          </a>
        </p>
        
        <p>
          <span class="underline">Trial Participation</span>
          <br>
          <a href="mailto:volunteer@westbayclinicalresearch.com?Subject=Inquiry%20Regarding%20Trial%20Participation" target="_blank">
            volunteer@westbayclinicalresearch.com
          </a>
        </p>
        
      </div>                 
      </div>
    </div>
  </div>
</section>