<!-- Index Headline  -->
<div class="widewrapper" id="headline-bkgd">
	<div class="container" id="index-headline">
    <h1 class="center small-caps">
      Committed to the Advancement of New Medical Therapies
    </h1>
		<h2 class="center">
      A Leader in Clinical Research Since 2003
    </h2>
	</div>
</div>

<!-- Call to Action -->
<div class="widewrapper weak-highlight">		
	<div class="row center" id="cta-bkgd">
    <div class="btn-group">
      <%= link_to("/trial/information", "Learn About Our Trials",
          :class => "btn btn-bold cta-button") %>
    </div>
	</div>
</div>

<!-- Site Links -->
<div class="widewrapper strong-highlight" id="tile-bkgd">
  <div class="container content tile-row">
      
    <div class="col-sm-3 index-tile">
      Tile #1
    </div>

    <div class="col-sm-3 index-tile">
      Tile #2
    </div>

    <div class="col-sm-3 index-tile">
      Tile #3
    </div>
                      
  </div>
</div>

<!-- Trials -->

<div class="widewrapper weak-highlight">
  <div class="container content">
    
    <div class="row bold center small-caps">
      <h1 style="margin-top: -5px;">
        Our Trials
      </h1>
    </div>

    <div class="row">
      
      <div class="col-sm-3 bold center small-caps">
        <h2>
          <a href="#">Diabetes</a>
        </h2>
      </div>

      <div class="col-sm-3 bold center small-caps">
        <h2>
          <a href="#">High Blood Pressure</a>
        </h2>
      </div>

      <div class="col-sm-3 bold center small-caps">
        <h2>
          <a href="#">Hypertension</a>
        </h2>
      </div>

      <div class="col-sm-3 bold center small-caps">
        <h2>
          <a href="#">Other Diseases</a>
        </h2>
      </div>

  </div>
</div>