<!-- Index Headline  -->
<div class="widewrapper" id="headline-bkgd">
	<div class="container" id="index-headline">
    <h1 class="center small-caps">
      Committed to the Advancement of New Medical Therapies
    </h1>
		<h2 class="center">
      A Leader in Clinical Research Since 2003
    </h2>
	</div>
</div>

<!-- Call to Action -->
<div class="widewrapper weak-highlight">		
	<div class="row center" id="cta-bkgd">
    <div class="btn-group">
      <%= link_to("/trial/information", "Learn About Our Trials",
          :class => "btn btn-bold cta-button") %>
    </div>
	</div>
</div>

<!-- Site Links -->
<div class="widewrapper strong-highlight" id="tile-bkgd">
  <div class="container content tile-row">
    <div class="col-sm-3 index-tile">
      <div class="bold center padding-t20">
        <a class="glyphicons notes_2"><i></i></a>
        <a class="glyphicons stats"><i></i></a>
        <a class="glyphicons pie_chart"><i></i></a>
      </div>

      <h1 class="bold small-caps">
        Sponsor
      </h1>

      <p>
        Interested in<br>
        <b>SPONSORING</b> a Trial?
      </p>

      <%= link_to("/trial/sponsor", "Learn More") %>
    </div>

    <div class="col-sm-3 index-tile">
      <div class="bold center padding-t20">
        <a class="glyphicons cardio"><i></i></a>
        <a class="glyphicons user_add"><i></i></a>
        <a class="glyphicons ok_2"><i></i></a>
      </div>

      <h1 class="bold small-caps">
        Volunteer
      </h1>

      <p>
        Interested in<br>
        <b>VOLUNTEERING</b> for a Trial?
      </p>

      <%= link_to("/trial/volunteer", "Learn More") %>
    </div>

    <div class="col-sm-3 index-tile">
      <div class="bold center padding-t20">
        <a class="glyphicons pencil"><i></i></a>
        <a class="glyphicons message_empty"><i></i></a>
        <a class="glyphicons iphone_shake"><i></i></a>
      </div>

      <h1 class="bold small-caps">
        Contact
      </h1>

      <p>
        Interested in<br>
        <b>MORE INFORMATION</b>?
      </p>

      <%= link_to("/contact", "Contact Us") %>
    </div>                  
  </div>
</div>

<!-- Sponsors -->
<div class="widewrapper" id="sponsor-bkgd">

  <div class="container content">

    <div class="row bold center small-caps">
      <h1 id="sponsors">
        Our Featured Sponsors
      </h1>
    </div>

    <div class="container content tile-row">
      <div class="col-sm-3 sponsor-tile">
        <a href="http://www.abbott.com/index.htm" target="_blank">
          Abbott<br>Laboratories
        </a>
      </div>

      <div class="col-sm-3 sponsor-tile">
        <a href="http://www.amgen.com" target="_blank">
          AmGen
        </a>
      </div>

      <div class="col-sm-3 sponsor-tile">
        <a href="http://us.gsk.com" target="_blank">
          GlaxoSmithKline
        </a>
      </div>

      <div class="col-sm-3 sponsor-tile">
        <a href="http://www.us.novartis.com" target="_blank">
          Novartus
        </a>
      </div>
    </div>
  </div>
</div>