<!-- Index Headline  -->
<div class="widewrapper index-border" id="headline-bkgd">
	<div id="index-headline">
    <div class="row" id="header-row">
      <div class="col-sm-8">
        <div class="row text-center">
          <div class="col-sm-6 col-sm-offset-3">
            <img src="/img/wbcr_logo.png" class="img-responsive" alt="West Bay Clinical Research">
          </div>
        </div>

        <h1 class="center padding-t20 small-caps" id="heading-primary">
          Committed to the Advancement of New Medical Therapies
        </h1>

        <h2 class="center" id="heading-secondary">
          A Leader in Clinical Research Since 2003
        </h2>
      </div>

      <div class="col-sm-3">
        <img src="/img/headline.jpg" class="img-responsive" id="header-img">
      </div>
    </div>               
	</div>
</div>

<!-- Current Trials -->
<div class="widewrapper index-border" id="sponsor-bkgd">

  <div class="container content">
    <div class="row bold center small-caps">
      <h1 id="featured-sponsors">
        Our Current Trials
      </h1>
    </div>

    <div class="row center">
      <div class="col-sm-3 sponsor-img">
        <img src="/img/index_1.jpg" class="img-responsive" id="header-img">
      </div>

      <div class="col-sm-6">
        <div class="container content tile-row">
          
          <div class="row center">
            <div class="col-sm-12 sponsor-tile">
              <span>
                Abbott Laboratories
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 sponsor-tile">
              <span>
                AmGen
              </span>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-12 sponsor-tile">
              <span>
                GlaxoSmithKline
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 sponsor-img">
        <img src="/img/index_2.jpg" class="img-responsive" id="header-img">
      </div>
    </div>
  </div>
</div>

<!-- Action Links -->
<div class="widewrapper strong-highlight index-border">
  <div class="container content tile-row padding-lr0">
    <div class="col-sm-3 action-tile">
      <div class="bold center padding-t20">
        <a class="glyphicons notes_2"><i></i></a>
        <a class="glyphicons stats"><i></i></a>
        <a class="glyphicons pie_chart"><i></i></a>
      </div>

      <h1 class="bold small-caps">
        Sponsor
      </h1>

      <p>
        Interested in<br>
        <b>SPONSORING</b> a Trial?
      </p>

      <%= link_to("/trial/sponsor", "Learn More") %>
    </div>

    <div class="col-sm-3 action-tile">
      <div class="bold center padding-t20">
        <a class="glyphicons cardio"><i></i></a>
        <a class="glyphicons user_add"><i></i></a>
        <a class="glyphicons ok_2"><i></i></a>
      </div>

      <h1 class="bold small-caps">
        Volunteer
      </h1>

      <p>
        Interested in<br>
        <b>VOLUNTEERING</b> for a Trial?
      </p>

      <%= link_to("/trial/volunteer", "Learn More") %>
    </div>

    <div class="col-sm-3 action-tile">
      <div class="bold center padding-t20">
        <a class="glyphicons pencil"><i></i></a>
        <a class="glyphicons message_empty"><i></i></a>
        <a class="glyphicons iphone_shake"><i></i></a>
      </div>

      <h1 class="bold small-caps">
        Contact
      </h1>

      <p>
        Interested in<br>
        <b>MORE INFORMATION</b>?
      </p>

      <%= link_to("/contact", "Contact Us") %>
    </div>                  
  </div>
</div>

<!-- Company Button  -->
<div class="widewrapper weak-highlight index-border">    
  <div class="row center" id="cta-bkgd">
    <div class="btn-group">
      <%= link_to("/trial/information", "Learn About Our Company",
          :class => "btn btn-bold cta-button") %>
    </div>
  </div>
</div>