<section id="thankyou-social">
	<div class="row footer">
	  <div class="col-sm-4 col-sm-offset-8">
	    <div class="bold center">
	      <%= social_media_icons %>
	    </div>
	  </div>     
	</div>
</section>

<section id="thankyou-text">
	<div class="container content">
		
		<div class="row">
			<p id="thankyou-splash">
				<%= @action %>
			</p>
		</div>

		<div class="row" id="thankyou-note">
			<div class="col-sm-4 bold center small-caps" id="headline">
				<span>
					Learn More<br>About Our Trials
				</span>
			</div>

			<div class="col-sm-7 justify verticalLine" id="faq">
				<span>
					Want to learn about our trials at West Bay Clinical Research?<br>
					Go to our <u><%= link_to("/faq", "Frequently Asked Questions") %></u> page for more information.<br><br>
					<u><%= link_to("/contact", "CONTACT US")%></u> with any questions you may have!
				</span>
			</div>

			<div class="col-sm-1 center" id="caduceus">
				<img src="/img/caduceus_blue.png" alt="West Bay Clinical Research">
			</div>

		</div>

		<div class="row" id="thankyou-company">
			<h3>Who is West Bay Clinical Research?</h3>
			<br>
			<p>
				West Bay Clinical Research was founded in 2003 as a multi-service and multi-specialty clinical research center. We have participated in over thirty pharmaceutical and biotechnology research trials in the last decade. We have strong relationships with many physicians throughout Rhode Island. These relationships allow us the ability to obtain patients that would benefit from our trials and offer expert investigators to our sponsors.
			</p>
		</div>

	</div>
</section>