/****************/
/* Page: HEADER */
/****************/

body {
  padding-top: 65px;
}

.navbar {
  min-height: 65px;
  border-bottom: 5px solid #000;

}

.navbar-brand {
  padding: 0px;
  padding-top: 5px;
}

.navbar-brand img {
  height: 50px;
  width: auto;
}

.navbar-default {
  background-color: #d0d5d9
}

ul.navbar-right {
  padding-top: 5px;
}

ul.navbar-right li a {
  font-weight: bolder;
}

/*****************/
/* COMMON STYLES */
/*****************/

.bold {
	font-weight: bolder;
}

.center {
	text-align: center;
}

.underline {
  text-decoration: underline;
}

.justify {
  text-align: justify;
  direction: ltr;
}

.small-caps {
  font-variant:small-caps;
}

.padding-b10 {
  padding-bottom: 10px;
}

.padding-b20 {
  padding-bottom: 20px;
}

.padding-b30 {
  padding-bottom: 30px;
}

.padding-l10 {
  padding-left: 10px;
}

.padding-l20 {
  padding-left: 20px;
}

.padding-l30 {
  padding-left: 30px;
}

.padding-r10 {
  padding-right: 10px;
}

.padding-r20 {
  padding-right: 20px;
}

.padding-r30 {
  padding-right: 30px;
}

.padding-t10 {
  padding-top: 10px;
}

.padding-t20 {
  padding-top: 20px;
}

.padding-t30 {
  padding-top: 30px;
}

div.links.link-heading {
  font-size: 30px;
  font-variant: small-caps;
}

div.row.row-padding {
  padding-top:    20px;
  padding-bottom: 20px;
}

/***************/
/* Page: INDEX */
/***************/

.container.content {	
  padding-top: 15px;
  padding-bottom: 15px;
}

#index-headline {
  padding-top: 50px;
  padding-bottom: 50px;
}

#index-headline h1 {
  font-size: 50px;
  color: #293540;
  line-height: 50px;
}

#index-headline h2 {
  font-size: 25px;
  padding-top: 30px;
  line-height: 25px;
}

div.pagetitle {
	padding: 5px;
}

div.pagetitle h1 {
  padding: 0;

  font-size: 24px;
  font-weight: bold;
  font-variant:small-caps;
  float: none;
}

.showroom-item {
  margin-bottom: 0px;
}

.cta-bkgd {
  padding: 30px 0;
  background-image:url(/img/bg-one.jpg);
  background-size: 100% 100%;
}

.cta-button {
  font-size: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

/***************/
/* Page: ABOUT */
/***************/

h3.skills {
  margin-bottom: 0px;
}

span.skills {
  margin-left: 2.5em;
  font-style: italic;
  opacity: 0.65;
}

.description {
  padding: 0px;
}

.team-member .description {
  position: relative;
  padding-bottom: 60px;
  display: table-cell;
}

.team-member .description .social {
  position: absolute;
  bottom: 0;
  padding: 0px;
  width: 100%;
  left: 0px;
}

/******************/
/* Page: FACILITY */
/******************/

td#facility {
  border-top-width: 0px;
  padding: 4px;
}

#facility-headline {
  font-size: 32px;
}

/******************/
/* Page: FACILITY */
/******************/

.table-heading {
  font-size: 20px;
  font-variant: small-caps;
}

td#facility {
  width: 50%;
}

/*****************/
/* Page: CONTACT */
/*****************/

address {
  margin-bottom: 10px;
}

.contact-margin {
  margin-top: 20px;
}

.contact-panel {
  border: 2px solid;
  border-color: gray;
}

/*******************/
/* Page: THANK YOU */
/*******************/

div#social {
  float: right;
}

.glyphicons.thankyou i:before {
  font: 30px/1em 'Glyphicons';
}

.tab {
  padding-left: 2.5em;
}

#thankyou-splash {
  font-size: 28px;
  line-height: 1.25em;
}

#thankyou-note {
  background-color: #7694a7;
  
  margin-top: 50px;
  padding: 15px 15px;
  width: 100%;
  height: 100%;
}

#thankyou-note div#headline {
  height: 100%;
  
  color: black;
  font-size: 32px;
  line-height: normal;
}

#thankyou-note div#faq {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.verticalLine {
  border-left: solid #ffffff;
}

#faq span a {
  color: blue
}

#caduceus {
  position: relative;
}

#caduceus img {
  position: absolute;
  height: auto;

  width: 250px;
  left: -80px;
  top: -80px;
}

#thankyou-company {
  margin-top: 100px;
}