/**********/
/* GLOBAL */
/**********/

body {
  padding-top: 70px;
  color: black;
}

a {
  color: #00008B;
}

/*****************/
/* COMMON STYLES */
/*****************/

.bold {
  font-weight: bolder;
}

.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.justify {
  text-align: justify;
  direction: ltr;
}

.small-caps {
  font-variant:small-caps;
}

.padding-lr0 {
  padding-left: 0px;
  padding-right: 0px;
}

.padding-tb0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.padding-b10 {
  padding-bottom: 10px;
}

.padding-b20 {
  padding-bottom: 20px;
}

.padding-b30 {
  padding-bottom: 30px;
}

.padding-l10 {
  padding-left: 10px;
}

.padding-l20 {
  padding-left: 20px;
}

.padding-l30 {
  padding-left: 30px;
}

.padding-r10 {
  padding-right: 10px;
}

.padding-r20 {
  padding-right: 20px;
}

.padding-r30 {
  padding-right: 30px;
}

.padding-t10 {
  padding-top: 10px;
}

.padding-t20 {
  padding-top: 20px;
}

.padding-t30 {
  padding-top: 30px;
}

.padding-t50 {
  padding-top: 50px;
}


div.links.link-heading {
  font-size: 30px;
  font-variant: small-caps;
}

div.row.row-padding {
  padding-top:    20px;
  padding-bottom: 20px;
}

.container.content {  
  padding-top: 15px;
  padding-bottom: 15px;
}

/****************/
/* Page: HEADER */
/****************/

.navbar {
  min-height: 70px;
  border-bottom: 5px solid #000;
}

.navbar-brand {
  padding: 0px;
  padding-top: 5px;
}

.navbar-brand img {
  height: 50px;
  width: auto;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}

#collapse-btn {
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-default {
  background-color: #E8E8E8;
}

ul.navbar-right {
  padding-top: 5px;
}

ul.navbar-right li a {
  font-weight: bolder;
}

.navbar-default .navbar-nav > li > a {
  color: gray;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #00008B;
}

/****************/
/* Page: FOOTER */
/****************/

div.row.footer div.col-sm-4 {
  padding-top: 15px;
}

div.row.footer div h3 {
  text-decoration: underline;
  font-size: 22px;
}

#footer-list li {
  list-style-type: none;
}

a.footer-phone {
  color: white;
  font-size: 18px;
}

/***************/
/* Page: INDEX */
/***************/

#headline-bkgd {
  background-color: white;
}

#index-headline {
  padding-top: 50px;
  padding-bottom: 50px;
}

#header-row {
  margin: 0px 5px;
}

#heading-primary {
  font-size: 32px;
  color: #293540;
  line-height: 40px;
}

#heading-secondary {
  font-size: 24px;
  padding-top: 30px;
  line-height: 25px;
}

#header-img {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
}

div.pagetitle {
	padding: 5px;
}

div.pagetitle h1 {
  padding: 0;
  float: none;

  font-size: 50px;
  font-weight: bold;
  font-variant:small-caps;
}

.showroom-item {
  margin-bottom: 0px;
}

.index-border {
  border-bottom:solid 3px black;
}

#featured {
  font-size: 36px;
}

#sponsor-bkgd {
  background-color: #EBEBEB;
}

.sponsor-tile {
  width:  300px;
  margin: 10px 0;

  padding: 10px 10px;
  border-radius: 10px;

  font-size: 16px;
  font-weight: bolder;
  display: table;

  -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sponsor-img {
  padding-top: 25px;
  padding-bottom: 25px;
}

.tile-row {
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.action-tile {
  height: 250px;
  width:  250px;
  margin: 25px 25px;

  background-color: #EFFAFC;

  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;

  cursor: pointer;
  cursor: hand;

  transition: all 0.25s linear;
}

.action-tile div a.glyphicons {
  padding: 0 0 40px 40px;
}

.action-tile div a.glyphicons i:before {
  color: #00008B;
  font: 30px/1em 'Glyphicons'
}

.action-tile p {
  padding: 10px 0px;
  font-size: 16px;
}

.action-tile a {
  font-size: 18px;
  font-weight: bolder;
}

#cta-bkgd {
  padding-bottom: 30px;

  background-color: #7694a7;
  background-size: 100% 100%;
}

.cta-button {
  background-color: #0B2161;
  color: white;
  font-size: 20px;
  
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 10px;

  margin-top: 10px;
  width: 200px;

  box-shadow: inset 0 0 10px white;
}

  .learn#featured {
    color: white;
  }

/***************/
/* Page: ABOUT */
/***************/

h3.skills {
  margin-bottom: 0px;
}

span.skills {
  margin-left: 2.5em;
  font-style: italic;
}

.team-image {
  background-color: #7694a7;
  width: 100%;
}

.team-image img {
  display: block;
  
  padding: 25px 0px;
  width: 50%;
  height: 300px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.description {
  padding: 0px;
}

.team-member .description {
  position: relative;
  padding-bottom: 60px;
  display: table-cell;
}

.team-member .description .social {
  position: absolute;
  bottom: 0;
  padding: 0px;
  width: 100%;
  left: 0px;
}

/******************/
/* Page: FACILITY */
/******************/

#facility-headline {
  font-size: 32px;
}

.table-heading {
  font-size: 20px;
  font-variant: small-caps;
  text-decoration: underline;
}

td#facility {
  border-top-width: 0px;
  padding: 4px;
  font-weight: bold;
  width: 50%;
}

/***************/
/* Page: TRIAL */
/***************/

.trial-col p {
  display: table-cell;
  width: auto;
  vertical-align: middle;
}

.trial-heading {
  font-size: 28px;;
  font-variant: small-caps;
  text-decoration: underline;
}

.trial-img {
  padding-top: 50px;
}

.trial-list {
  height: 400px;
  padding-top: 50px;
}

.trial-list div.row {
  margin-top: 30px;
  vertical-align: middle;
  font-size: 14px;
}

.trial-list div.row div span {
  font-weight: bolder;
  color: #66696B;
}

.trial-list div.row div span a {
  font-weight: bolder;
  color: black;
}

#trial-bot {
  padding-top: 25px;
}

td#trial {
  border-top-width: 0px;
  padding: 4px;
  font-weight: bold;
  width: 33.3%;
}

/*****************/
/* Page: SPONSOR */
/*****************/

#sponsor-form {
  padding-top: 50px;
}

/*******************/
/* Page: VOLUNTEER */
/*******************/

#volunteer-form50 {
  padding-top: 50px;
}

#volunteer-form100 {
  padding-top: 100px;
}

/*****************/
/* Page: CONTACT */
/*****************/

address {
  margin-bottom: 10px;
}

.contact-margin {
  margin-top: 20px;
}

.contact-panel {
  border: 2px solid;
  border-color: gray;
}

a.contact-phone {
  color: black;
}

div#flex-map {
  height: 0;
  padding-bottom: 350px;
  margin-bottom: 30px;
  
  overflow: hidden;
  text-align: center;
}

div#flex-map iframe {
  width: 70%;
  height: 350px;

  border-style: solid;
  border-width: 3px;
  border-color: black;
}

/*******************/
/* Page: THANK YOU */
/*******************/

div#social {
  float: right;
}

#thankyou-icons .glyphicons i:before {
  font: 30px/1em 'Glyphicons';
}

.action-tile div a.glyphicons i:before {
  color: #00008B;
  font: 30px/1em 'Glyphicons'
}

.tab {
  padding-left: 2.5em;
}

#thankyou-splash {
  font-size: 28px;
  line-height: 1.25em;
}

#thankyou-note {
  background-color: #7694a7;
  
  margin-top: 50px;
  padding: 15px 15px;
  width: 100%;
  height: 100%;
}

#thankyou-note div#headline {
  height: 100%;
  
  color: black;
  font-size: 32px;
  line-height: normal;
}

#thankyou-note div#faq {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.verticalLine {
  border-left: solid #ffffff;
}

#faq span a {
  color: blue
}

#caduceus {
  position: relative;
}

#caduceus img {
  position: absolute;
  height: auto;

  width: 250px;
  left: -80px;
  top: -80px;
}

#thankyou-company {
  margin-top: 100px;

}

#thankyou-company h3 {
  font-size: 26px;
}

#thankyou-p {
  font-size: 20px;
}

/********************/
/* Page: MOBILE WEB */
/********************/

/* Disable Index Page Hover when Width <= 500px */

@media screen and (min-width: 500px) {
  .cta-button:hover {
    background-color: #0431B4;
    color: white;

    box-shadow: inset 0 0 35px white;
  }

  .action-tile:hover {
    transform:         scale(1.15);
    -moz-transform:    scale(1.15);
    -webkit-transform: scale(1.15);

    box-shadow:         0 5px 25px #000;
    -moz-box-shadow:    0 5px 25px #000;
    -webkit-box-shadow: 0 5px 25px #000;
  }
}

/* Adjust Spacing on all Trial Pages */

@media screen and (max-width: 775px) {
  section#trial-sponsors, section#trials {
    margin-bottom: 200px;
  }

  .trial-list {
    height: 400px;
    padding-top: 50px;
  }

  #volunteer-form {
    padding-top: 50px;
  }

  #caduceus {
    display: none;
  }

  .email {
    font-size: 12px;
  }

  #faq-questions {
    padding-top: 25px;
  }
}