/*****************/
/* COMMON STYLES */
/*****************/

.bold {
	font-weight: bolder;
}

.center {
	text-align: center;
}

.underline {
  text-decoration: underline;
}

.justify {
  text-align: justify;
  direction: ltr;
}

.small-caps {
  font-variant:small-caps;
}

.padding-b10 {
  padding-bottom: 10px;
}

.padding-b20 {
  padding-bottom: 20px;
}

.padding-b30 {
  padding-bottom: 30px;
}

.padding-l10 {
  padding-left: 10px;
}

.padding-l20 {
  padding-left: 20px;
}

.padding-l30 {
  padding-left: 30px;
}

.padding-r10 {
  padding-right: 10px;
}

.padding-r20 {
  padding-right: 20px;
}

.padding-r30 {
  padding-right: 30px;
}

.padding-t10 {
  padding-top: 10px;
}

.padding-t20 {
  padding-top: 20px;
}

.padding-t30 {
  padding-top: 30px;
}

div.links.link-heading {
  font-size: 30px;
  font-variant: small-caps;
}

div.row.row-padding {
  padding-top:    20px;
  padding-bottom: 20px;
}

/***************/
/* Page: INDEX */
/***************/

.container.content {	
  padding-top: 15px;
  padding-bottom: 15px;
}

div.pagetitle {
	padding: 5px;
}

div.pagetitle h1 {
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  font-variant:small-caps;
  float: none;
}

.showroom-item {
  margin-bottom: 0px;
}

.cta-div {
    padding: 10% 0;
}


td#facility {
  border-top-width: 0px;
  padding: 4px;
}

/******************/
/* Page: FACILITY */
/******************/

.table-heading {
  font-size: 20px;
  font-variant: small-caps;
}

/*****************/
/* Page: CONTACT */
/*****************/

address {
  margin-bottom: 10px;
}

.contact-margin {
  margin-top: 20px;
}

.contact-panel {
  border: 2px solid;
  border-color: gray;
}