<div class="showroom-controls">
  <div class="links link-heading">Trial Information</div>
</div>

<section id="trial-sponsors">
	<div class="container content">
		<div class="row">
			<div class="col-sm-4 trial-col justify">
				<p>
					Starting in 2003, West Bay Clinical Research has conducted trials for  leading Pharmaceutical companies in the world. Here are some of the sponsors who have worked closely with West Bay Clinical Research across many trials.
				</p>
			</div>

			<div class="col-sm-7 col-sm-offset-1 center" id="trial-list">
				<span class="bold trial-heading">Sponsors</span>
				<div class="row ">
					<div class="col-sm-4">
						<span>
							<a href="http://www.abbott.com" target="_blank">
								Abbot Laboratories
							</a>
						</span>
					</div>
					<div class="col-sm-4">
						<span>Acambis</span>
					</div>
					<div class="col-sm-4">
						<span>
							<a href="http://www.amgen.com" target="_blank">
								Amgen
							</a>
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<span>
							<a href="http://www.forestpharm.com" target="_blank">
								Forest Pharmaceuticals
							</a>
						</span>
					</div>
					<div class="col-sm-4">
						<span>
							<a href="http://us.gsk.com" target="_blank">
								GlaxoSmithKline
							</a>
						</span>
					</div>
					<div class="col-sm-4">
						<span>
							<a href="http://www.horizonpharma.com/" target="_blank">
								Horizon Therapeutics
							</a>
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<span>
							<a href="http://www.hmplglobal.com" target="_blank">
								Hutchinson Medi Pharma
							</a>
						</span>
					</div>
					<div class="col-sm-4">
						<span>Ingenix</span>
					</div>
					<div class="col-sm-4">
						<span>
							<a href="http://www.us.novartis.com" target="_blank">
								Novartis
							</a>
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<span>
							<a href="http://www.optuminsight.com/" target="_blank">
								OptumInsight
							</a>
						</span>
					</div>
					<div class="col-sm-4">
						<span>
							<a href="http://www.pliva.com" target="_blank">
								PLIVA Pharmaceuticals
							</a>
						</span>
					</div>
					<div class="col-sm-4">
						<span>
							<a href="http://www.sanofi.us" target="_blank">
								Sanofi Aventis
							</a>
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<span>
							<a href="http://www.shire.com" target="_blank">
								Shire Pharmaceuticals
							</a>
						</span>
					</div>
					<div class="col-sm-4">
						<span>
							<a href="http://www.takeda.com" target="_blank">
								Takeda
							</a>
						</span>
					</div>
					<div class="col-sm-4">
						<span>TAP Pharmaceuticals</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<hr>

<section id="trials">
	<div class="container content">
		<div class="row">
			<div class="col-sm-4 trial-col justify">
				<p>
					West Bay Clinical Research is a leader in multi-service and multi-specialty clinical research.  We have participated in over thirty pharmaceutical and biotechnology research trials covering these diseases and health ailments.
				</p>
			</div>

			<div class="col-sm-7 col-sm-offset-1 center" id="trial-list">
				<span class="bold trial-heading">Clinical Trials</span>
				<div class="row ">
					<div class="col-sm-5 col-sm-offset-1">
						<span>
							Cardiovascular Disease
						</span>
					</div>
					<div class="col-sm-5">
						<span>
							Congestive Heart Failure
						</span>
					</div>
				</div>

				<div class="row ">
					<div class="col-sm-5 col-sm-offset-1">
						<span>
							Crohn's Disease
						</span>
					</div>
					<div class="col-sm-5">
						<span>
							Gastrointestinal Reflux Disease
						</span>
					</div>
				</div>

				<div class="row ">
					<div class="col-sm-5 col-sm-offset-1">
						<span>
							Diabetes Mellitus
						</span>
					</div>
					<div class="col-sm-5">
						<span>
							Flu Vaccine
						</span>
					</div>
				</div>

				<div class="row ">
					<div class="col-sm-5 col-sm-offset-1">
						<span>
							Hyperlipidemia
						</span>
					</div>
					<div class="col-sm-5">
						<span>
							Hypertension
						</span>
					</div>
				</div>

				<div class="row ">
					<div class="col-sm-5 col-sm-offset-1">
						<span>
							Hypertension
						</span>
					</div>
					<div class="col-sm-5">
						<span>
							Kidney Disease & Dialysis
						</span>
					</div>
				</div>

				<div class="row ">
					<div class="col-sm-10 col-sm-offset-1">
						<span>
							Chronic Obstructive Pulmonary Disease
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>