<div class="showroom-controls">
  <div class="links link-heading">Trial Information</div>
</div>

<section id="trial-description">
	<div class="container content">
		<div class="row">
			<div class="col-sm-5 justify">
				<p>
					Starting in 2003, West Bay Clinical Research has conducted trials for  leading Pharmaceutical companies in the world. Here are some of the sponsors who have worked with West Bay Clinical Research.
				</p>
			</div>

			<div class="col-sm-7 center">
				<p class="bold table-heading">Sponsors</p>

				<table class="table">
				  <tbody>
				    <tr>
				    	<td id="trial">
				    		Abbot Laboratories
				    	</td>

				    	<td id="trial">
				    		Acambis
				    	</td>

				    	<td id="trial">
				    		Amgen
				    	</td>
				    </tr>

				    <tr>
				    	<td id="trial">
				    		Forest Pharmaceuticals
				    	</td>

				    	<td id="trial">
				    		GlaxoSmithKline
				    	</td>

				    	<td id="trial">
				    		Horizon Therapeutics
				    	</td>
				    </tr>

				    <tr>
				    	<td id="trial">
				    		Hutchinson Medipharma
				    	</td>

				    	<td id="trial">
				    		Ingenix
				    	</td>

				    	<td id="trial">
				    		Novartis
				    	</td>
				    </tr>

				    <tr>
				    	<td id="trial">
				    		OptumInsight
				    	</td>

				    	<td id="trial">
				    		PLIVA Pharmaceuticals, Inc.
				    	</td>

				    	<td id="trial">
				    		Sanofi Aventis
				    	</td>
				    </tr>

				    <tr>
				    	<td id="trial">
				    		Shire Pharmaceuticals
				    	</td>

				    	<td id="trial">
				    		Takeda
				    	</td>

				    	<td id="trial">
				    		TAP Pharmaceuticals
				    	</td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 justify">
				<p>
					West Bay Clinical Research is a leader in multi-service and multi-specialty clinical research.  We have participated in over thirty pharmaceutical and biotechnology research trials covering these diseases and health ailments:
				</p>
			</div>

			<div class="col-sm-6 justify">
				Table View
			</div>
		</div>
	</div>
</section>