<div class="showroom-controls">
  <div class="links link-heading">Trial Information</div>
</div>

<section id="trial-description">
	<div class="container content">
		<div class="row">
			<div class="col-sm-4 trial-col justify">
				<p>
					Starting in 2003, West Bay Clinical Research has conducted trials for  leading Pharmaceutical companies in the world. Here are some of the sponsors who have worked with West Bay Clinical Research.
				</p>
			</div>

			<div class="col-sm-7 col-sm-offset-1 center" id="sponsor-list">
				<span class="bold table-heading">Sponsors</span>
				<br>
				<div class="row ">
					<div class="col-sm-4">
						<span>Abbot Laboratories</span>
					</div>
					<div class="col-sm-4">
						<span>Acambis</span>
					</div>
					<div class="col-sm-4">
						<span>Amgen</span>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<span>Forest Pharmaceuticals</span>
					</div>
					<div class="col-sm-4">
						<span>GlaxoSmithKline</span>
					</div>
					<div class="col-sm-4">
						<span>Horizon Therapeutics</span>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<span>Hutchinson Medipharma</span>
					</div>
					<div class="col-sm-4">
						<span>Ingenix</span>
					</div>
					<div class="col-sm-4">
						<span>Novartis</span>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<span>OptumInsight</span>
					</div>
					<div class="col-sm-4">
						<span>PLIVA Pharmaceuticals</span>
					</div>
					<div class="col-sm-4">
						<span>Sanofi Aventis</span>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<span>Shire Pharmaceuticals</span>
					</div>
					<div class="col-sm-4">
						<span>Takeda</span>
					</div>
					<div class="col-sm-4">
						<span>TAP Pharmaceuticals</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 justify">
				<p>
					West Bay Clinical Research is a leader in multi-service and multi-specialty clinical research.  We have participated in over thirty pharmaceutical and biotechnology research trials covering these diseases and health ailments:
				</p>
			</div>

			<div class="col-sm-6 justify">
				Table View
			</div>
		</div>
	</div>
</section>