<div class="showroom-controls">
  <div class="links link-heading">Sponsor a Trial</div>
</div>

<section id="sponsor">
	<div class="container content">
		<div class="row">
			<div class="col-sm-6 justify">
				<p>
					Founded in 2003, West Bay Clinical Research is an experienced research facility that has conducted over 30 clinical trials in Phases II, III, and IV. Our trained staff works closely with the investigator to ensure that patients are treated with the utmost respect and dignity. Our patients deal with the same Clinical Research Coordinator and receive a friendly, personalized experience during our trial. 
				</p>

				<p>
					Our staff has educated in: HIPAA compliance, OSHA compliance, IATA, and the use of Standard Operating Procedures (SOPs). Our facility has a separate waiting area, exam area and meeting area. At West Bay Clinical Research we strive to provide superior care to patients through professional and personalized service.
				</p>
				<br>
				<img src="/img/sponsor.jpg" class="img-responsive" id="header-img">
			</div>

			<div class="col-sm-5 col-sm-offset-1 justify" id="sponsor-form">
				<h1 class="center">Contact Us to Sponsor a Trial</h1>
				<br>
				<script charset="utf-8" src="//js.hsforms.net/forms/current.js">
				</script>
				<script>
				  hbspt.forms.create({ 
				    portalId: '329670',
				    formId: 'c808e894-37f8-49ed-8795-fac624ed7bf0',
				    redirectUrl: '<%= thank_you_url("sponsor") %>'
				  });
				</script>
			</div>
		</div>
	</div>