<div class="showroom-controls">
  <div class="links link-heading">Clinical Trial: Ulcerative Colitis</div>
</div>

<section id="volunteer">
	<div class="container content">
		<div class="row">
			<div class="col-sm-6 justify">
				<h1 class="bold small-caps">Ulcerative Colitis</h1>

				<p>
					Do you have Ulcerative Colitis? If you do, then you may qualify to participate in a clinical research study of a new investigational herbal medication for treatment of Ulcerative Colitis.
				</p>

				<ul>
					<li>
						Participants who qualify will receive study related office visits, study medication or placebo, lab work, and procedures at no cost.
					</li>
					<li>
						Compensation up to $500 is available for time and travel.
					</li>
				</ul>

				<br>
				
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<img src="/img/trial_ulcerative-colitis-flat.jpg" class="img-responsive" id="header-img">
					</div>
				</div>
			</div>

			<div class="col-sm-5 col-sm-offset-1 justify padding-t20">
				<h1 class="bold center small-caps underline">Contact Us to Volunteer for this Trial</h1>
				<br>
				<script charset="utf-8" src="//js.hsforms.net/forms/current.js">
				</script>
				<script>
				  hbspt.forms.create({ 
				    portalId: '329670',
				    formId: 'b9095c00-19ac-4700-9d4e-613333c1f8b6',
				    redirectUrl: '<%= thank_you_url("volunteer") %>'
				  });
				</script>
			</div>
		</div>
	</div>
</section>