<div class="showroom-controls">
  <div class="links link-heading">Clinical Trial: Ulcerative Colitis</div>
</div>

<section id="volunteer">
	<div class="container content">
		<div class="row">
			<div class="col-sm-6 justify">
				<h1 class="bold small-caps">Ulcerative Colitis</h1>

				<p>
					The purpose of this study is to determine the efficacy and safety of the investigational herbal medicine in subject with active mild to moderate ulcerative colitis.
				</p>

				<p>
					You may be eligible to participate in this clinical trial if you:
				</p>

				<ul>
					<li>
						Are a male or female at least 18 years of age.
					</li>
					<li>
						Have mild to moderate Ulcerative Colitis.
					</li>
				</ul>
				<br>
				<img src="/img/trial_ulcerative-colitis.jpg" class="img-responsive" id="header-img">
			</div>

			<div class="col-sm-5 col-sm-offset-1 justify">
				<h1 class="bold center small-caps underline">Contact Us to Volunteer for this Trial</h1>
				<br>
				<script charset="utf-8" src="//js.hsforms.net/forms/current.js">
				</script>
				<script>
				  hbspt.forms.create({ 
				    portalId: '329670',
				    formId: 'b9095c00-19ac-4700-9d4e-613333c1f8b6',
				    redirectUrl: '<%= thank_you_url("volunteer") %>'
				  });
				</script>
			</div>
		</div>
	</div>
</section>