<div class="showroom-controls">
  <div class="links link-heading">Upcoming Trials</div>
</div>

<section id="volunteer">
	<div class="container content">
		<div class="row">
			<div class="col-sm-6 justify">

				<p>
					We have clinical trials enrolling in the coming year in the following areas.  
				</p>

				<ul class="bold">
					<li>Acid Reflux or GERD</li>
					<li>Asthma</li>
					<li>Chronic Obstructive Pulmonary Disease (COPD) or Bronchitis</li>
					<li>Congestive Heart Failure</li>
					<li>Crohn's Disease</li>
					<li>Coronary Artery Disease</li>
					<li>Diabetes</li>
					<li>Heart Attack</li>
					<li>Hyperlipidiemia or High Cholesterol</li>
					<li>Hypertension</li>
					<li>Migraines</li>
					<li>Peripheral Artery Disease</li>
					<li>Stroke</li>
				</ul>

				<br>

				<p>
					Complete this form and we'll contact you when these studies begin enrolling.
				</p>
				
				<div class="row padding-t30">
					<div class="col-sm-8 col-sm-offset-2">
						<img src="/img/trial_upcoming-trials.jpg" class="img-responsive" id="header-img">
					</div>
				</div>
			</div>

			<div class="col-sm-5 col-sm-offset-1 justify">
				<h1 class="bold center small-caps underline">Volunteer for an Upcoming Trial</h1>
				<br>
				<script charset="utf-8" src="//js.hsforms.net/forms/current.js">
				</script>
				<script>
				  hbspt.forms.create({ 
				    portalId: '329670',
				    formId: '6b38b534-2559-4fc0-ac11-2570bf423272',
            redirectUrl: '<%= thank_you_url("inquire") %>'
				  });
				</script>
			</div>
		</div>
	</div>
</section>