<div class="showroom-controls">
  <div class="links link-heading">Volunteer for a Trial</div>
</div>

<section id="volunteer">
	<div class="container content">
		<div class="row">
			<div class="col-sm-6 justify">
				<h1 class="bold small-caps">Volunteers</h1>
				<p>
					Clinical trials answer specific health questions that are conducted in a safe way in order to find treatments that work and ways to improve health.
				</p>

				<p>
					The benefits of participating in a clinical trial are potentially being able to gain access to new research treatments and receive expert medical care for the condition being studied.
				</p>

				<h1 class="bold small-caps">What to Expect</h1>


				<p>
					If you pass the initial screening and are eligible to participate, you will receive:
				</p>

				<ul>
					<li>
						Compensation for time and travel.
					</li>
					<li>
						Examinations by a Physician and / or Nurse Practitioner.
					</li>
					<li>
						Free study medication.
					</li>
					<li>
						Study related labs and diagnostic testing.
					</li>
				</ul>

				<p>
					West Bay Clinical Research has conducted studies in numerous therapeutic areas. We provide opportunities to participate in clinical trials with new medical therapies and to provide our patients with outstanding medical care during their trial experience.
				</p>
				<br>
				<img src="/img/volunteer.jpg" class="img-responsive" id="header-img">
			</div>

			<div class="col-sm-5 col-sm-offset-1 justify" id="volunteer-form">
				<h1 class="bold center small-caps underline">Contact Us to Volunteer for a Trial</h1>
				<br>
				<script charset="utf-8" src="//js.hsforms.net/forms/current.js">
				</script>
				<script>
				  hbspt.forms.create({ 
				    portalId: '329670',
				    formId: 'b9095c00-19ac-4700-9d4e-613333c1f8b6',
				    redirectUrl: '<%= thank_you_url("volunteer") %>'
				  });
				</script>
			</div>
		</div>
	</div>