<div class="showroom-controls">
  <div class="links link-heading">Facility and Services</div>
</div>

<section id="facility-description">
	<div class="container content">
		<div class="row">
		<div class="col-sm-7 justify">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut purus at neque bibendum ornare. Quisque placerat consectetur fringilla. Quisque quis urna nunc. Duis lacinia ultricies felis, quis adipiscing magna gravida vitae. Sed non pellentesque mi. Phasellus convallis in metus ut egestas. Nam vehicula ligula luctus erat suscipit commodo. Aliquam consectetur cursus nisi eu imperdiet. Proin ultrices enim vel lorem pretium tempor. Aliquam consectetur cursus nisi eu imperdiet. Proin ultrices enim vel lorem pretium tempor.
			</p>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut purus at neque bibendum ornare. Quisque placerat consectetur fringilla. Quisque quis urna nunc. Duis lacinia ultricies felis, quis adipiscing magna gravida vitae.
			</p>
		</div>

		<div class="col-sm-4 col-sm-offset-1 center">
			
			<p class="bold table-heading">Equipment</p>

			<table class="table">
			  <tbody>
			    <tr>
			      <td id="facility">Pulse Oximeter</td>
			      <td id="facility">12 lead EKG</td>
			    </tr>

			    <tr>
			      <td id="facility">Centrifuge</td>
			      <td id="facility">AED</td>
			    </tr>

			    <tr>
			      <td id="facility">-20℃ Freezer (Locked)</td>
			      <td id="facility">Spirometry</td>
			    </tr>

			    <tr>
			      <td id="facility">Locked Drug Cabinet</td>
			      <td id="facility"></td>
			    </tr>
			  </tbody>
			</table>
		</div>
		</div>
	</div>
</section>

<section id="facility-image-gallery">
	<div class="row row-padding center">
		<ul class="bxslider">
		  <li><img src="http://placekitten.com/350/250" /></li>
		  <li><img src="http://placekitten.com/350/250" /></li>
		  <li><img src="http://placekitten.com/350/250" /></li>
		  <li><img src="http://placekitten.com/350/250" /></li>
		  <li><img src="http://placekitten.com/350/250" /></li>
		  <li><img src="http://placekitten.com/350/250" /></li>
		  <li><img src="http://placekitten.com/350/250" /></li>
		  <li><img src="http://placekitten.com/350/250" /></li>
		  <li><img src="http://placekitten.com/350/250" /></li>
		</ul>
	</div>
</section>