<div class="showroom-controls">
  <div class="links link-heading">Facility and Services</div>
</div>

<section id="facility-description">
	<div class="row row-padding">
		<div class="col-sm-7 justify">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut purus at neque bibendum ornare. Quisque placerat consectetur fringilla. Quisque quis urna nunc. Duis lacinia ultricies felis, quis adipiscing magna gravida vitae. Sed non pellentesque mi. Phasellus convallis in metus ut egestas. Nam vehicula ligula luctus erat suscipit commodo. Aliquam consectetur cursus nisi eu imperdiet. Proin ultrices enim vel lorem pretium tempor. Proin at imperdiet ligula.
		</div>

		<div class="col-sm-1 center">
			BLOCK
		</div>

		<div class="col-sm-4 center">
			
			<p class="bold table-heading">Equipment</p>

			<table class="table">
			  <tbody>
			    <tr>
			      <td id="facility">TEST1a</td>
			      <td id="facility">TEST1b</td>
			    </tr>

			    <tr>
			      <td id="facility">TEST2a</td>
			      <td id="facility">TEST2b</td>
			    </tr>

			    <tr>
			      <td id="facility">TEST3a</td>
			      <td id="facility">TEST3b</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>

