<div class="showroom-controls">
  <div class="links link-heading">Facility and Services</div>
</div>

<section id="facility-description">
	<div class="container content">
		<div class="row">
			<div class="col-sm-7 justify">
				<p>
					West Bay Clinical Research is located in Cranston, Rhode Island. Although Rhode Island is the smallest state in the United States of America with just over 1,000,000 residents, it provides us with a diverse set of trial volunteers that covers many different ethnicities and lifestyles. Our office is conveniently located near Interstates 95 and 295, and is 20 minutes away from TF Green Airport and also the state's capital, Providence.
				</p>

				<p>
					Please visit our <strong><%= link_to("/trial/sponsor", "Sponsor a Trial") %></strong> page to submit a request or <strong><%= link_to("/contact", "Contact Us") %></strong> directly.
				</p>
			</div>

			<div class="col-sm-4 col-sm-offset-1 center">
				
				<p class="bold table-heading">Equipment</p>

				<table class="table">
				  <tbody>
				    <tr>
				    	<td id="facility">-20℃ Freezer (Locked)</td>
							<td id="facility">12 lead EKG</td>
				    </tr>

				    <tr>
				      <td id="facility">AED</td>
				      <td id="facility">Centrifuge</td>
				    </tr>

				    <tr>
				      <td id="facility">Patient Database</td>
				      <td id="facility">Locked Drug Cabinet</td>
				    </tr>

				    <tr>
				    	<td id="facility">Pulse Oximeter</td>
				    	<td id="facility">Spirometry</td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
</section>

<section id="facility-image-gallery">
	<div class="row center padding-t20">
		<ul class="bxslider">
		  <li><img src="/img/WBCR1.jpg" /></li>
		  <li><img src="/img/WBCR2.jpg" /></li>
		  <li><img src="/img/WBCR3.jpg" /></li>
		  <li><img src="/img/WBCR4.jpg" /></li>
		  <li><img src="/img/WBCR5.jpg" /></li>
		  <li><img src="/img/WBCR6.jpg" /></li>
		</ul>
	</div>
</section>

<hr>

<div class="center">
	<h1 class="bold small-caps " id="facility-headline">
		Committed to the Advancement of New Medical Therapies
	</h1>
</div>