<footer class="widewrapper footer">
      
  <div class="container">
    <div class="row footer">

      <div class="col-sm-4 bold center">
        <h3 class="bold small-caps">
          Our Skills
        </h3>
        <br>
        <div id="footer-list">
          <div>Experience</div>
          <div>Quality Care</div>
          <div>Transparency</div>
          <div>Thoroughness</div>
        </div>
      </div> 

      <div class="col-sm-4">
        <h3 class="bold center small-caps">
          Sign Up for Our Newsletter
        </h3>

        <p class="bold center">Enter Your Email</p>

        <script charset="utf-8" src="//js.hsforms.net/forms/current.js">
        </script>
        <script>
          hbspt.forms.create({ 
            portalId: '329670',
            formId: '0868cd36-34fb-4ae3-af9a-6aa7dc749b6a',
            redirectUrl: '<%= thank_you_url("newsletter") %>'
          });
        </script>
      </div>

      <div class="col-sm-4">
        <h3 class="bold center small-caps">
          Connect With Us
        </h3>
        <div class="bold center padding-t10">
          <%= social_media_icons %>
        </div>
        <div>
          <h3 class="bold center padding-t30">
            <a class="footer-phone" href="tel:+14016913311">
              401-691-3311
            </a>
          </h3>
        </div>
      </div>     

    </div>
  </div>

  <div class="container">
    <div class="copyright bold center">
        <p>West Bay Clinical Research, 2014 All Rights Reserved.</p>
    </div>
  </div>

</footer>