<header>

  <nav class="navbar navbar-default grove-navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="grove-toggle" data-toggle="collapse" data-target=".grove-nav">
          <i class="glyphicons show_lines"><i></i>
          </i>
        </a>
        <a href="/" class="navbar-brand">
          <img src="/grove/img/logo.png" alt="Grove">
        </a>
      </div>

      <div class="collapse navbar-collapse grove-nav">
          <ul class="nav navbar-nav">
              <li class="active">
                <a href="/">Home</a>
              </li>                          
              <li class="dropdown">
                <a href="#" data-toggle="dropdown">Pages <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="grove/about-us.html">About Us</a></li>
                  <li><a href="grove/features.html">Features Page</a></li>
                  <li><a href="grove/pricing.html">Pricing Tables</a></li>
                  <li><a href="grove/comparison.html">Product Comparison</a></li>
                  <li><a href="grove/blog.html">Blog</a></li>
                  <li><a href="grove/blog-inner.html">Blog Detail</a></li>
                  <li><a href="grove/portfolio.html">Portfolio</a></li>
                  <li><a href="grove/portfolio-inner.html">Portfolio Detail</a></li>
                  <li><a href="grove/faq.html">FAQ</a></li>
                  <li><a href="grove/login.html">Login/Signup</a></li>
                  <li><a href="grove/404.html">404</a></li>
                  <li><a href="grove/contact.html">Contact</a></li>      
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown">Features <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="grove/glyphicons.html">Glyphicons</a></li>
                  <li><a href="grove/buttons.html">Buttons</a></li>
                </ul>
              </li>
          </ul>        
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

</header>